<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/now-ui-kit.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <title>Alpha Extended</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-transparent">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="/menuIcon.svg" width="20px" height="20px" style="max-width: none !important;">
    </button>
        <img src="/BotLogo.png" width="50" height="50">
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20px !important">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/subscriptions">Subscriptions</a>
                </li>
            </ul>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Documentation
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/commands">Commands</a>
                    <a class="dropdown-item" href="/commands/premium">Premium Commands</a>
                    <a class="dropdown-item" href="/tutorials">Tutorials</a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
            <button class="btn login-btn btn-outline-accent my-2 my-sm-0" style="font-size: 10px !important;font-family: poppins !important;">LOGIN</button>
        </div>
    </nav>
    <div class="features">
        <div class="title">Commands (prefix : %)</div>
        <div class="subtitle">You get more command with premium!</div>
        <div class="cards">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">backup</h5>
                    <p class="card-text">With this command you can create a full backup of your server as well as load/remove a backup or see a list of all your backups</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">captcha</h5>
                    <p class="card-text">You can setup the captcha in your server by doing %captcha setup. You can also enable/disable a the captcha at any time as well as your settings</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">premium</h5>
                    <p class="card-text">This command is use to see the perks of premium before buying it</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">invite</h5>
                    <p class="card-text">To invite the bot to your server (It does not work with Premium)</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">report</h5>
                    <p class="card-text">If you have a bug to report to the developers just do %report reason and there you go</p>
                </div>
            </div>
            <div class="title">Premium commands</div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">prefix</h5>
                    <p class="card-text">Change the prefix of your bot to what you want</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">backup interval</h5>
                    <p class="card-text">Instead of doing manual backups this command make a backup and remove the last in an interval that you can set up</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">play</h5>
                    <p class="card-text">Play a music of your choice from youtube</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">stop</h5>
                    <p class="card-text">Stop the current song playing</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">skip</h5>
                    <p class="card-text">Skip the current song playing</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">queue</h5>
                    <p class="card-text">See all the song in queue in your server</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">connect</h5>
                    <p class="card-text">Connect the bot to a voice channel</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">disconnect</h5>
                    <p class="card-text">Disconnect the bot from the current voice channel</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/now-ui-kit.min.js"></script>
</body>

</html>